USE [ExemploJWT]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/05/2019 07:53:29 ******/
DROP TABLE [dbo].[Users]
GO
USE [master]
GO
/****** Object:  Database [ExemploJWT]    Script Date: 02/05/2019 07:53:29 ******/
DROP DATABASE [ExemploJWT]
GO
/****** Object:  Database [ExemploJWT]    Script Date: 02/05/2019 07:53:29 ******/
CREATE DATABASE [ExemploJWT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExemploJWT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExemploJWT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExemploJWT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExemploJWT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExemploJWT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExemploJWT]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/05/2019 07:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](20) NOT NULL,
	[AccessKey] [varchar](32) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserID], [AccessKey]) VALUES (N'usuario01', N'94be650011cf412ca906fc335f615cdc')
INSERT [dbo].[Users] ([UserID], [AccessKey]) VALUES (N'usuario02', N'531fd5b19d58438da0fd9afface43b3c')
USE [master]
GO
